*{
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
}

:root{
	--bg-color: #ffffff;
	--text-color:#333333;
	--main-font: 2.2rem;
	--p-font: 1.1rem;
}

body {
	justify-content: center;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #f0f2f5;
    text-align: center;
  }
  
h1 {
    font-size: 2em;
    padding-top: 150px;
    padding-bottom: 30px;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#last {
font-weight: 700;
    padding-top: 2%;
    padding-bottom: 5%;
}
  .topnav {
	width: 100%;
	height:90px;
	background-color: #333;
	position: fixed; 
	text-align: center;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .topnav a {
	display: flexbox;
	align-content: flex-end;
	color: wheat;
	text-align: center;
	padding: 0px 16px;
	text-decoration: none;
	font-size: 20px;
	
  }
  
  .topnav a:hover {
	background-color: wheat;
	color: #333;
	
  }
  
  .topnav .icon {
	display: none;
	
  }
  
  @media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  position: absolute;
	  left: 0;
	 display: flex;
	
	}
  }
  
  @media screen and (max-width: 600px) {
	.topnav.responsive {position: fixed;}
	.topnav.responsive .icon {
	  position: absolute;
	  left: 0; 
	  top: 39%;
	
	}
	.topnav.responsive a {
	  justify-content: center;
	  display: grid;
	  z-index: 999
	  
	}
  }

.contact{
	padding: 80px 17%;
	background: var(--text-color);
}
.main-contact{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	gap: 2rem;
	margin-bottom: 3rem;
}
.contact-content li{
	margin-bottom: 15px;
}
.contact-content li a{
	display: block;
	color: wheat;
	font-size: var(--p-font);
	font-weight: 600;
	transition: all .40s ease;
}
.contact-content li a:hover{
	transform: translateX(-10px);
}
.action form{
	text-align: center;
}
.action form input[type="email"]{
	width: 460px;
	max-width: 100%;
	padding: 12px 15px;
	background: #f0f2f5;
	color: var(--bg-color);
	border: none;
	outline: none;
	margin: 0px 10px 20px 0px;
	font-size: 16px;
	font-weight: 600;
}

.action form input[type="submit"]{
	padding: 10px 35px;
	background: #f0f2f5;
	color: var(--text-color);
	border: none;
	outline: none;
	margin: 0px 10px 20px 0px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
}

.last{
	text-align: center;
	padding: 17px;
	background: #f0f2f5;
}
.last p{
	color: var(--text-color);
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 2px;
}


